.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff99b7;
}

/* Changing the Current Time Line color */
.rbc-time-view .rbc-current-time-indicator {
  height: 2px;
  background-color: red !important;
}

.rbc-time-view .rbc-time-content {
  scrollbar-width: thin;
  scrollbar-color: rgb(218, 215, 215) transparent;
  overflow-y: scroll;
}
